@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900');
*{
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(25, 25, 25);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
    width: 600px;
    height: 600px;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: space-evenly;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.key{
    width: 125px;
    height: 125px;
    background-color: rgb(45, 45, 45);
    border: solid 3px rgb(246, 201, 14);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pressed{
    background: radial-gradient(rgb(246, 201, 14), rgb(200,200,200));
    color: rgb(25, 25, 25);
    border: white solid 3px;
    box-shadow: 0 0 10px white;
}
